body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #385072;
}
.ISO
{
    font-size: 30px;
    color: #385072;
}
.orange-color{
    color: #ff8800;
}
.flexible-container{
    display: flex;
    margin: 100px;
}
.left{
    width: 50%;
    padding: 5%;
}

.ashabul
{
    color: #ff8800;
    size: 70px;
} 

.left img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: -moz-linear-gradient(#ff8800, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right:5% ;
    padding: 10px;
    border-radius: 10px;
    
}



.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#raad{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
}
#raad1{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;


}

.social{
	width: 100%;
	height: auto;
	text-align: center;
}
.social a{
	display: inline-block;
	padding: 5px;

}
.social a i{
	color: #3b1e59;
    width: 55px;
    height: 55px;
    font-size: 25px;
    line-height: 50px!important;
    border: 3px solid #fff;
	opacity: .8;
transition-property: transform;
    -moz-transition-property: -moz-transform;
    -webkit-transition-property: -webkit-transform;
    transition: all 0.6s cubic-bezier(0.88, -0.48, 0.38, 1.85);
	border-radius: 50%;
	
	}
.social a i:hover{
	opacity: 1;
	border-radius: 20%;
	
}
.social a:hover i.fa-linkedin-in,.social a:hover i.fa-facebook{
	transition:  .6s ease-in;
	background: #0088cc; 
	color: white;
	border: 3px solid #00aaff; 
	
transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.social a:hover i.fa-instagram{
	transition:  .6s ease-in;
	background: linear-gradient(#F58529 20%, #FEDA77 50%, #DD2A7B 75%, #8134AF 90%, #515BD4)
; 
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
	border: 3px solid #fd8e8e; 
	color:white;
	
}
footer p{
    text-align:center;
}